body {
    font-family: 'Roboto', sans-serif; /* Cambiamos la fuente a Roboto */
    margin: 0;
    padding: 0;
    background-color: #f3f4f6; /* Fondo más claro con un tono moderno */
}

.container {
    width: 80%;
    max-width: 600px; /* Limitamos el ancho para mejor visualización en pantallas grandes */
    margin: 40px auto; /* Espaciado superior para centrar mejor */
    padding: 20px 30px;
    background-color: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1); /* Sombra más suave y extendida */
    border-radius: 10px; /* Bordes redondeados */
}

h1 {
    color: #4a4e69; /* Cambiamos el color a un gris violáceo elegante */
    font-family: 'Merriweather', serif; /* Fuente más clásica para el título */
    text-align: center; /* Centrar el título */
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Resaltar los textos de los labels */
    color: #22223b; /* Gris oscuro para mejor contraste */
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #c9c9c9;
    background-color: #f9f9f9; /* Fondo ligeramente gris */
    font-size: 16px;
    transition: all 0.3s ease; /* Animación suave al interactuar */
}

input[type="text"]:focus, input[type="date"]:focus {
    border-color: #4a4e69; /* Color más llamativo al enfocar */
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(74, 78, 105, 0.5); /* Agregamos un glow sutil */
    outline: none;
}

input[type="submit"] {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: #9a8c98; /* Color pastel con buen contraste */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición para el hover */
}

input[type="submit"]:hover {
    background-color: #c9ada7; /* Cambiamos el color al pasar el cursor */
    box-shadow: 0 4px 10px rgba(201, 173, 167, 0.5); /* Glow suave */
}
